Repository RonaldoAntonucci/template-nestjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests, prettier --list-different

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write", "jest --findRelatedTests --passWithNoTests"],
  "*.md": "prettier --list-different"
}

chore: config nest cli
  nest-cli.json
Due: none

chore: config ts build
  tsconfig.build.json
Due: none

chore: fix imports problems
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/controllers/auth.controller.ts
  src/auth/dto/auth-jwt.dto.ts
  src/auth/dto/refresh-jwt.dto.ts
  src/auth/jwt.config.ts
  src/auth/usecases/auth.usecase.spec.ts
  src/auth/usecases/auth.usecase.ts
  src/shared/guards/auth.guard.ts
  src/shared/providers/generate.provider.spec.ts
  src/shared/providers/generate.provider.ts
  src/shared/providers/hash.provider.spec.ts
  src/shared/providers/hash.provider.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: fix e2e problems
  test/jest-e2e.json
Due: none

chore: fix e2e problems
  src/app.module.ts
  test/jest-e2e.json
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: update npm dependencies to minor versions
  package-lock.json
  package.json
Due: none

chore: update @types/uuid to version 10.0.0
  package-lock.json
  package.json
Due: none

chore: update eslint and typescript-eslint versions
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

chore: skip Husky install in production and CI
  .husky/install.mjs
  package.json
Due: none

chore: config swc compiler
  docker-compose.yml
  nest-cli.json
  package-lock.json
  package.json
  src/main.ts
  src/metadata.ts
  tsconfig.json
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: config vitest
  .eslintrc.js
  .github/workflows/e2e-tests.yml
  .lintstagedrc
  package-lock.json
  package.json
  src/auth/usecases/auth.usecase.spec.ts
  test/jest-e2e.json
  tsconfig.json
  vitest.config.mjs
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: add @nestjs/config dependency and configure it in AppModule
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

refactor: upgrade auth module
  .env.dev
  src/auth/auth.config.ts
  src/auth/auth.decorator.ts
  src/auth/auth.dto.ts
  src/auth/auth.enum.ts
  src/auth/auth.guard.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/controllers/auth.controller.ts
  src/auth/dto/auth-jwt.dto.ts
  src/auth/jwt.config.ts
  src/auth/roles.guard.ts
  src/auth/usecases/auth.usecase.spec.ts
  src/auth/usecases/auth.usecase.ts
  src/shared/decorators/public.decorator.ts
  src/shared/utils/request.interface.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: remove prisma
  package-lock.json
  package.json
  prisma/schema.prisma
  src/shared/db/prisma.service.ts
  src/shared/shared.module.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

feat: add QueryIncludes decorator to dynamically create object from string
  src/shared/decorators/query-includes.decorator.ts
  src/shared/utils/create-obj-by-str.util.spec.ts
  src/shared/utils/create-obj-by-str.util.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

fix: public decorator import
  src/auth/roles.guard.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: update import path for Public decorator in auth.guard.ts and health.controller.ts
  src/auth/auth.guard.ts
  src/health/health.controller.ts
  src/main.ts
  src/metadata.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: remove unused PrismaService provider in health.controller.spec.ts
  src/health/health.controller.spec.ts
  vitest.config.mjs
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

docs: change docs
  README.md
  package.json
Due: prettier --list-different

chore: fix build action
  .github/workflows/build.yml
Due: none

chore: update Node.js setup action to version 4 and install Nestjs CLI
  .github/workflows/build.yml
  .github/workflows/unit-tests.yml
Due: none

chore: update Nestjs CLI installation command in build workflow
  .github/workflows/build.yml
Due: none

chore: update build workflow to include build step
  .github/workflows/build.yml
  .github/workflows/unit-tests.yml
Due: none

chore: update Dockerfile and docker-compose.yml
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

chore: update start:dev command in package.json
  package.json
Due: none

chore: fix dockerfile
  Dockerfile
Due: none

chore: config typeorm
  .dockerignore
  .env.dev
  datasource.dev.ts
  docker-compose.yml
  package-lock.json
  package.json
  src/metadata.ts
  src/shared/database/database.config.ts
  src/shared/database/database.entity.ts
  src/shared/database/database.module.ts
  src/shared/database/database.provider.ts
  src/shared/database/database.service.ts
  src/shared/shared.module.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: remove database configs
  .env.dev
  docker-compose.yml
Due: none

chore: update Dockerfile to use 'AS' instead of 'as' in the production stage
  Dockerfile
Due: none

feat: add TypeOrmHealthIndicator to health controller
  src/health/health.controller.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

feat: add health check endpoint to typeorm
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

test: create database service test
  src/shared/database/database.provider.ts
  src/shared/database/database.service.spec.ts
  vitest.config.mjs
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: add @nestjs/typeorm dependency and update database module
  package-lock.json
  package.json
  src/metadata.ts
  src/shared/database/database.factory.spec.ts
  src/shared/database/database.factory.ts
  src/shared/database/database.module.ts
  src/shared/database/database.service.spec.ts
  src/shared/database/database.service.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

refactor: update health controller path and version
  src/health/health.controller.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

chore: update .env.dev file with PORT configuration
  .env.dev
Due: none

docs: add migrations docs
  README.md
Due: prettier --list-different

chore: update npm dependencies to latest versions
  package-lock.json
  package.json
Due: none

chore: update npm dependency to latest stable version
  package-lock.json
Due: none
